*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    z-index: 99;
}

.navbar-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 10px;

}

.navbar-right
{
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.navbarcomp
{
    width: 450px;
    top: 10vh;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
}

.navbarcomp-1
{
    color: rgb(204, 204, 204);
    padding: 1.5rem;
    display: flex;
    outline: none;
    align-items: center;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.h
{
    width: 100%;
    height: 10vh;
    margin-bottom: 2px;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
}

.home-1
{
    position: relative;
    top: 10vh;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 250);
    height: 90vh;
    width: 100%;
}

.home-1-1
{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.home-2
{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home-4
{
    font-size: 0.8rem;
    padding: 10px 50px;
    font-weight: 700;
    color: white;
    outline: none;
    background-color: #FF5B00;
    border: 2px solid red;
    text-decoration: none;
    margin-right: 2rem;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 25px;
}

.home-4:hover
{
    background-color: white;
    color: #FF5B00;
}

.home-40
{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 10px 50px;
    font-weight: 700;
    color: white;
    outline: none;
    background-color: #FF5B00;
    border: 2px solid red;
    text-decoration: none;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 25px;
    margin-bottom: 5px;
}

.home-40:hover
{
    background-color: white;
    color: #FF5B00;
}

.list
{
    top: 10vh;
    position: relative;
    background-color: rgb(248, 248, 250);
    width: 100%;
    /* margin-left: 5px; */
}

.list-1-1
{
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    width: 15%;
    margin: 2%;
}

.footer
{
    position: relative;
    /* padding: 20px 0px; */
    top: 10vh;
    margin-bottom: 0;
    left: 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 225);
}